<!-- Start BENEFITS content -->
<section id="benefits" class="section-middle content-block d-flex">
    <div class="container">
        <div class="row">
            <div class="section-title col-12">
                <h3 class="text-center">How Can NJH Medical Help?</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
                <p>NJH Medical provides authentic Personal Protective Equipment (PPE) to help protect you and your loved ones.</p>
            </div>
        </div>
        <div class="row row-eq-height align-items-center">
            <div class="order-1 col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 my-5">
                <h4 class="my-auto">The NJH difference:</h4>
            </div>
            <div class="order-2 col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 my-5">
                <img src="./assets/images/benefits_box.png" alt="box of NJH masks" class="img-fluid">
                <h5><span class="text-clr-2">1.</span> Our face masks are individually wrapped</h5>
            </div>
            <div class="order-4 col-12 col-sm-10 offset-sm-1 order-md-3 col-md-6 offset-md-0 my-5">
                <img src="./assets/images/benefits_three_masks.png" alt="three individually wrapped masks" class="img-fluid">
            </div>
            <div class="order-3 col-12 col-sm-10 offset-sm-1 order-md-4 col-md-6 offset-md-0 my-5">
                <p><span class="text-clr-1 text-wt-700">Individually wrapped masks</span> help prevent the spread of germs and contamination between other masks in the box.</p>
                <p>Now you can be confident that everytime you grab a mask, it will be clean and safe to use.</p>
            </div>
            <div class="order-5 col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 my-5">
                <p><span class="text-clr-1 text-wt-700">Individually wrapped masks</span> offer flexibility & keep your mask germ free until you are ready to wear it!</p>
                <p>You can drive without your mask on! (pick your nose, scratch your face, eat, drink, apply makeup etc without worrying if mask will get dirty in the car. Then you can open your mask and wear it before you get to destination!</p>
            </div>
            <div class="order-6 col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 my-5">
                <img src="./assets/images/benefits_superhero.png" alt="flying superhero distributing masks" class="img-fluid">
            </div>
        </div>
        <div class="row row-eq-height align-items-center">
            <div class="order-1 col-12 col-sm-8 offset-sm-2 order-lg-2 col-lg-4 offset-lg-0">
                <img src="./assets/images/benefits_correct.png" alt="correct mask usage" class="img-fluid">
            </div>
            <div class="order-2 col-12 col-sm-6 order-lg-1 col-lg-4">
                <img src="./assets/images/benefits_wrong_1.png" alt="incorrect mask usage" class="img-fluid">
            </div>
            <div class="order-3 col-12 col-sm-6 order-lg-3 col-lg-4">
                <img src="./assets/images/benefits_wrong_2.png" alt="correct mask usage" class="img-fluid">
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="order-1 col-12 col-sm-10 offset-sm-1 order-md-2 col-md-6 offset-md-0">
                <img class="care-icon" src="./assets/images/benefits_care_icon.svg" alt="two hands holding a heart">
                <h5><span class="text-clr-2">2.</span> Made with care</h5>
                <p class="mb-5">Each 4-ply mask is properly disinfected so even a doctor in the most demanding situations can use one! Feel protected! Further, Our KN95 masks have been tested to ensure that all materials are safe for human use! <span class="text-clr-2">Both our 4-ply & KN95 masks have been tested by reputable labs to ensure product authenticity!</span></p>
            </div>
            <div class="mt-5 order-2 col-12 col-sm-10 offset-sm-1 order-md-1 col-md-6 offset-md-0">
                <img src="./assets/images/benefits_doctor_and_hero.png" alt="hero giving masks to a doctor" class="img-fluid">
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End HOME content -->
