<!-- Start PRODUCT content -->
<section id="contact" class="content-block d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title col-12">
                <h3 class="text-center">Contact us</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
            </div>
        </div>
        <div class="row row-eq-height align-items-center">
            <div class="order-1 col-10 offset-1 col-md-5 align-items-center">
                <p>NJH medical is a result of the dire need for reliable and quality PPE products. We started this business to provide people with not only quality products but peace of mind knowing that NJH products are legitimate and safe.</p>
                <p>At the beginning of the pandemic we were upset that people were being <span class="text-clr-2 text-wt-700">scammed</span> out of their hard-earned money with fake products with ludicrous claims. Thus, we set out to source and provide quality products to people in America.</p>
            </div>
            <div class="order-2 col-12 col-md-5 offset-md-1 align-items-center">
                <img src="./assets/images/contact_hi_five.png" alt="" class="contact_hi_five img-fluid">
            </div>
            <div class="order-4 col-10 offset-1 order-md-3 col-md-5 align-items-center">
                <a class="" href="mailto:info@NJHMedical.com?subject=website feedback">{% include svg/contact_info.svg %}</a>
            </div>
            <div class="order-3 col-10 offset-1 order-md-4 col-md-5 offset-md-0 align-items-center">
                <p>In addition, we have provided a resources page with links to get started in your own education of Covid and how to protect yourself. Further you can test you own masks at home with the guidance of the links provided in our resources section (just remember to be safe!).</p>
                <p>We understand that product development is a continuous journey and we continue to strive to create better products for everybody. We appreciate your continued support and value your feedback!</p>
                <p>We hope all of you are safe! God Bless America!</p>
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End HOME content -->
