<!-- Start PRODUCT content -->
<section id="cta" class="section-middle content-block d-flex mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title col-12">
                <h3 class="text-center">Does Wearing a Mask Help?</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
            </div>
        </div>
        <div class="row">
            <div class="align-self-center col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4">
                <div class="d-lg-none white-box"><h3>[image slider]</h3></div>
                <div class="d-none d-lg-block white-box">
                    <img src="./assets/images/cta_virus_1.png" alt="">
                    <p> According to the CDC coronavirus can spread through close proximity to others, often by speaking, coughing or sneezing. Wear a mask to protect yourself!</p>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4">
                <img src="./assets/images/cta_globe.png" alt="A globe wearing a protective mask" class="img-cta-globe">
                <div class="d-none d-lg-block white-box">
                    <img src="./assets/images/cta_virus_3.png" alt="">
                    <p>Wearing a mask reduces your chances of getting covid by <span class="text-clr-1 text-wt-700">65%</span>!</p>
                </div>
            </div>
            <div class="align-self-center col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-4">
                <div class="d-none d-lg-block white-box">
                    <img src="./assets/images/cta_virus_2.png" alt="">
                    <p>Recent studies indicate a significant portion of people who have COVID-19 don’t show symptoms, and the virus can spread before they realize they are sick. Wear a mask and save others!</p>
                </div>
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End HOME content -->
