<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5 offset-xl-1">
                    <img src="./assets/images/footer_logo.png" alt="NJH Medical logo" class="img-fluid">
                    <span class="">&copy;{{ site.time | date: '%Y' }} NJH Medical &ndash; All rights reserved.</span>
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5">
                    {% include social_links.html %}
                </div>
            </div>
        </div>
    </section>
</footer>
