<!-- Start HOME content -->
<section id="hero" class="content-block d-flex">
    <div class="container-fluid">
        <div class="row row-eq-height align-items-center">
            <div class="order-1 col-12 order-md-2 col-md-10 order-xl-2 col-xl-7">
                <img src="./assets/images/hero_banner.png" alt="" class="hero_banner">
            </div>
            <div class="order-2 col-10 offset-1 order-md-1 col-md-1 order-xl-3 col-xl-10">
                <h2>SAVE&nbsp;YOURSELF! SAVE&nbsp;THE&nbsp;WORLD!</h2>
                <img src="./assets/images/hero_wear_a_mask!.png" alt="WEAR A MASK!" class="hero_title">
            </div>
            <div class="order-3 col-12 col-sm-10 offset-sm-1 order-md-3 order-xl-1 col-xl-3">
                <h3>The onset of <span class="text-clr-2">Covid-19</span> has left the Earth and its People searching for answers</h3>
                <p>However, as we follow the proper safety measures we continue to move in the right direction each and every day!</p>
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End HOME content -->
