<!-- Start HOME content -->
<section id="hero" class="content-block d-flex">
    <div class="container-fluid banner-box">
        <div class="row row-eq-height">
            <div class="col-12">
                <div class="banner-box">
                    {% include svg/hero_banner.svg %}
                </div>
            </div>
        </div>
    </div><!-- END .container -->
    <div class="container-fluid title-box">
        <div class="row row-eq-height">
            <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-5 offset-md-0 col-lg-5">
                <div id="pane-2" class="pane">
                    <h3>The onset of <span class="text-clr-2">Covid-19</span> has left the Earth and its People searching for answers</h3>
                    <p>However, as we follow the proper safety measures we continue to move in the right direction each and every day!</p>
                </div>
            </div>
            <div class="col-12 offset-0 col-lg-12">
                <div id="pane-1" class="pane">
                    <h2>SAVE&nbsp;YOURSELF! SAVE&nbsp;THE&nbsp;WORLD!</h2>
                    <img src="./assets/images/hero_wear_a_mask!.png" alt="WEAR A MASK!" class="hero_title">
                </div>
            </div>
        </div>
    </div>
</section><!-- End HOME content -->
