<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-top">
    <a class="navbar-brand" href="#">
        {% include svg/brand_logo.svg %}
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#benefits">Benefits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mask_specs">Specs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About us</a>
            </li>
        </ul>
    </div>
</nav>
