<!-- Start PRODUCT content -->
<section id="products" class="section-middle content-block d-flex">
    <div class="container">
        <div class="row">
            <div class="section-title col-12">
                <h3 class="text-center">Products</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
                <p>Items, sizes and quantities selected below will appear in your <a href="#contact">basket</a>.Add your contact info and press &ldquo;Get pricing&rdquo; to recieve a quote.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <a class="modal-trig" href="#sg_specs">
                    <div class="white-box pink-ellipse">
                        <img src="./assets/images/products_sg_mask_box.png" alt="" class="img-fluid">
                        <p class="text-clr-1 text-wt-700 mt-3">Surgical grade Mask</p>
                        <p>4-PLY Surgical Grade Masks</p>
                    </div>
                </a>
                <div class="selector-box no-size">
                    <label for="size_sg_mask">Size:</label>
                    <label>
                        <input type="radio" name="size_sg_mask" value="" checked>
                        <span></span>
                    </label>
                </div>
                <div class="selector-box">
                    <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                    <input type="number" class="quantity" name="sg-mask-quantity" id="quan_sg_mask" value="1" min="1">
                </div>
                <button type="button" name="surgical grade mask" class="btn btn-add" data-targetid="quan_sg_mask"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
            </div><!-- END 4-PLY Surgical Grade Masks -->
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <a class="modal-trig" href="#kn95_specs">
                    <div class="white-box green-ellipse">
                        <img src="./assets/images/products_kn95_mask_box.png" alt="" class="img-fluid">
                        <p class="text-clr-1 text-wt-700 mt-3">KN95</p>
                        <p>5-Layer KN95 Masks</p>
                    </div>
                </a>
                <div class="selector-box no-size">
                    <label for="size_sg_mask">Size:</label>
                    <label>
                        <input type="radio" name="size_sg_mask" value="" checked>
                        <span></span>
                    </label>
                </div>
                <div class="selector-box">
                    <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                    <input type="number" class="quantity" name="kn95-mask-quantity" id="quan_kn95_mask" value="1" min="1">
                </div>
                <button type="button" name="kn95 mask" class="btn btn-add" data-targetid="quan_kn95_mask"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
            </div><!-- END 5-Layer KN95 Masks -->
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_hand_san.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Hand sanitizer gel</p>
                    <div class="selector-box">
                        <label for="size_hand_san">Size (fl oz):</label>
                        <label>
                            <input type="radio" name="size_hand_san" value="2oz">
                            <span>2</span>
                        </label>
                        <label>
                            <input type="radio" name="size_hand_san" value="4oz">
                            <span>4</span>
                        </label>
                        <label>
                            <input type="radio" name="size_hand_san" value="16oz" checked>
                            <span>16</span>
                        </label>
                        <label>
                            <input type="radio" name="size_hand_san" value="20oz">
                            <span>20</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="hand-san-quantity" id="quan_hand_san" value="1" min="1">
                    </div>
                    <button type="button" name="hand sanitizer" class="btn btn-add" data-targetid="hand_san"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END hand sanitizer -->
            <div class="col-12 col-sm-6 col-md-5 offset-md-0 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_gloves.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Nitrile gloves<br>50 pcs</p>
                    <div class="selector-box no-size">
                        <label for="size_gloves">Size:</label>
                        <label>
                            <input type="radio" name="size_gloves" value="" checked>
                            <span>NA</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="gloves-quantity" id="quan_gloves" value="1" min="1">
                    </div>
                    <button type="button" name="Nitrile gloves" class="btn btn-add" data-targetid="gloves"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END Nitrile gloves -->
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_ir_therm.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Infrared thermometers</p>
                    <div class="selector-box no-size">
                        <label for="size_ir_therm">Size:</label>
                        <label>
                            <input type="radio" name="size_ir_therm" value="" checked>
                            <span>NA</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="ir-therm-quantity" id="quan_ir_therm" value="1" min="1">
                    </div>
                    <button type="button" name="Infrared thermometers" class="btn btn-add" data-targetid="ir_therm"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END Infrared thermometers -->
            <div class="col-12 col-sm-6 col-md-5 offset-md-0 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_pat_gowns.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Patient gowns</p>
                    <div class="selector-box">
                        <label for="size_pat_gowns">Size:</label>
                        <label>
                            <input type="radio" name="size_pat_gowns" value="small">
                            <span>S</span>
                        </label>
                        <label>
                            <input type="radio" name="size_pat_gowns" value="medium" checked>
                            <span>M</span>
                        </label>
                        <label>
                            <input type="radio" name="size_pat_gowns" value="large">
                            <span>L</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="pat-gowns-quantity" id="quan_pat_gowns" value="1" min="1">
                    </div>
                    <button type="button" name="Patient gowns" class="btn btn-add" data-targetid="pat_gowns"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END Patient gowns -->
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_shoe_covers.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Shoe covers</p>
                    <div class="selector-box">
                        <label for="size_shoe_covers">Size:</label>
                        <label>
                            <input type="radio" name="size_shoe_covers" value="small">
                            <span>S</span>
                        </label>
                        <label>
                            <input type="radio" name="size_shoe_covers" value="medium" checked>
                            <span>M</span>
                        </label>
                        <label>
                            <input type="radio" name="size_shoe_covers" value="large">
                            <span>L</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="shoe-covers-quantity" id="quan_shoe_covers" value="1" min="1">
                    </div>
                    <button type="button" name="Shoe covers" class="btn btn-add" data-targetid="shoe_covers"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END Shoe covers -->
            <div class="col-12 col-sm-6 col-md-5 offset-md-0 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/products_med_gowns.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Medical gowns & caps</p>
                    <div class="selector-box">
                        <label for="size_med_gowns">Size:</label>
                        <label>
                            <input type="radio" name="size_med_gowns" value="small">
                            <span>S</span>
                        </label>
                        <label>
                            <input type="radio" name="size_med_gowns" value="medium" checked>
                            <span>M</span>
                        </label>
                        <label>
                            <input type="radio" name="size_med_gowns" value="large">
                            <span>L</span>
                        </label>
                    </div>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="med-gowns-quantity" id="quan_med_gowns" value="1" min="1">
                    </div>
                    <button type="button" name="Medical gowns & caps" class="btn btn-add" data-targetid="med_gowns"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div><!-- END Medical gowns & caps -->
        </div>
        <div class="row" id="mask_specs">
            <div class="section-title col-12">
                <h3 class="text-center">Specs</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
            </div>
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                            <h5 class="text-clr-2 text-wt-700">4-Ply, Sterilized, Surgical Grade Mask</h5>
                            <p class="text-center sub-head">Individually wrapped</p>
                            <div class="container white-box specs-box" id="sg_specs">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="spec-direct">Use the icons to learn more:</p>
                                        {% include svg/modal_sg_ill.svg %}
                                    </div>
                                    <div class="col-12">
                                        <h2 class="text-clr-2">FACE MASK FACTS</h2>
                                        <p class="">Why settle for a mask that is anything less than medical grade? If it can protect a Doctor it can protect you!</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_bact_filt.svg" alt="bacteria icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Bacteria Filtration Eficiency (BFE)</p>
                                        <p>≥ 98%</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_flamm.svg" alt="flames icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Flammability</p>
                                        <p>Class 1 in accordance with CFR part 1610</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_part_filt.svg" alt="funnel filter icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Particle Filtration Efficiency (PFE)</p>
                                        <p>≥ 98% at 0.1 micron</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_blood_pen.svg" alt="blood droplets icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Blood Penetration Resistance</p>
                                        <p>Passed in accordance with ASTM F1862 and ISO 22609</p>
                                    </div>
                                </div>
                            </div><!-- END .container -  SG mask more info -->
                        </div>
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                            <h5 class="text-clr-4 text-wt-700">5 layered KN95 protective mask</h5>
                            <p class="text-center sub-head">Individually wrapped</p>
                            <div class="container white-box specs-box" id="kn95_specs">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="spec-direct">Use the icons to learn more:</p>
                                        {% include svg/modal_kn95_ill.svg %}
                                    </div>
                                    <div class="col-12">
                                        <h2 class="text-clr-2">FACE MASK FACTS</h2>
                                        <p class="">Five layers and nose-bill design, for protection and comfort.</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_bact_filt.svg" alt="bacteria icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Bacteria Filtration Eficiency (BFE)</p>
                                        <p>≥ 95%</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_blood_pen.svg" alt="blood droplets icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Blood Penetration Resistance</p>
                                        <p>Passed in accordance with ASTM F1862 and ISO 22609</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_flamm.svg" alt="flames icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Flammability</p>
                                        <p>Class 1 in accordance with CFR part 1610</p>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="./assets/images/modal_part_filt.svg" alt="funnel filter icon" class="img-fluid">
                                        <p class="text-clr-1 text-wt-700">Particle Filtration Efficiency (PFE)</p>
                                        <p>≥ 95% at 0.1 micron</p>
                                    </div>
                                </div>
                            </div><!-- END .row - kn95 mask more info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="contact">
            <div class="section-title col-12">
                <h3 class="text-center">Contact us</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

                <img src="./assets/images/products_order_basket.png" alt="">
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5 offset-xl-1">
                <h3 class="mb-3">Your order:</h3>
                <div id="order_basket_table"></div>
                <button id="btn_clear" type="button" name="Clear basket" class="btn btn-clear"><span class="text-wt-900"><i class="fas fa-redo-alt"></i></span></button>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5">
                <form name="Get pricing form" class="get-pricing" method="post" data-netlify="true">
                    <h3 class="mb-3">Contact info:</h3>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <input type="text" name="First name" placeholder="First name" value="" required />
                        </div>
                        <div class="col-12 mb-3">
                            <input type="text" name="Last name" placeholder="Last name" value="" required />
                        </div>
                        <div class="col-12 mb-3">
                            <input type="email" name="Email" placeholder="Email" value="" required>
                        </div>
                        <div class="col-12 mb-3">
                            <textarea name="Comments" rows="5" placeholder="Comments" value=""></textarea>
                            <textarea id="order_request" name="Order request" hidden value=""></textarea>
                        </div>
                        <div class="col-12 mb-3">
                            <button id="form_submit_btn" type="submit" name="Get pricing submit" class="btn">Get pricing</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End products content -->
