<!-- Start PRODUCT content -->
<section id="shop" class="section-middle content-block d-flex">
    <div class="container">
        <div class="row">
            <div class="section-title col-12">
                <h3 class="text-center">Shop</h3>
                <img src="./assets/images/section_title_hzrule.png" alt="horzontal rule">
                <p>Press on a box to learn more</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <a class="modal-trig" data-toggle="modal" data-target="#sg-mask-modal" data-entrytitle="sg-mask" href="">
                    <div class="white-box pink-ellipse">
                        <img src="./assets/images/shop_sg_mask_box.png" alt="" class="img-fluid">
                        <p class="text-clr-1 text-wt-700 mt-3">Surgical grade Mask</p>
                        <p>4-PLY Surgical Grade Masks</p>
                    </div>
                </a>
                <div class="selector-box">
                    <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                    <input type="number" class="quantity" name="quantity" value="1" min="1">
                </div>
                <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
                <a class="modal-trig" data-toggle="modal" data-target="#kn95-mask-modal" data-entrytitle="kn95-mask" href="">
                    <div class="white-box green-ellipse">
                        <img src="./assets/images/shop_kn95_mask_box.png" alt="" class="img-fluid">
                        <p class="text-clr-1 text-wt-700 mt-3">KN95</p>
                        <p>5-Layer KN95 Masks</p>
                    </div>
                </a>
                <div class="selector-box">
                    <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                    <input type="number" class="quantity" name="quantity" value="1" min="1">
                </div>
                <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_hand_san.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Hand sanitizer gel</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_gloves.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Nitrile gloves<<br>50 pcs</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_ir_therm.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Infrared thermometers</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_pat_gowns.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Patient gowns</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_shoe_covers.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Shoe covers</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0">
                <div class="white-box">
                    <img src="./assets/images/shop_med_gowns.png" alt="" class="img-fluid">
                    <p class="text-clr-1 text-wt-700 mt-3">Medical gowns & caps</p>
                    <div class="selector-box">
                        <label for="quantity">Quantity:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" class="quantity" name="quantity" value="1" min="1">
                    </div>
                    <button type="button" name="button" class="btn"><span class="text-wt-900">+</span>&nbsp;&nbsp;&nbsp;Add to cart</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                {% include svg/shop_order_basket.svg %}
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5 offset-xl-1">
                <h3>Your order:</h3>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-xl-5">
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <!-- <label for="validationCustom01">First name</label> -->
                            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <!-- <label for="validationCustom02">Last name</label> -->
                            <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <!-- <label for="validationCustom03">Email</label> -->
                            <input type="text" class="form-control" id="validationCustom03" placeholder="Email" value="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <!-- <label for="validationCustom02">Comments</label> -->
                            <input type="text" class="form-control" id="validationCustom04" placeholder="Comments" value="">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <button id="form_submit_btn" type="button" name="button" class="btn">Get pricing</button>
            </div>
        </div>
    </div><!-- END .container -->
</section><!-- End HOME content -->
