//--> COLORS
$color-white  : #F5F9FF; //white
$color-black  : #24261d; //black
$color-1      : #5095FF; //primary blue
$color-2      : #FF8794; //secondary pink
$color-3      : #6984AE; //dark blue
$color-4      : #7DD6CB; //kn95 green
$color-5      : #7f3a2c; //tomato redd
