//--> COLORS
$color-white  : #EEF0F1; //white
$color-black  : #24261d; //black
$color-1      : #EFD562; //yellow
$color-2      : #4B7095; //blue
$color-3      : #E2A050; //orange
$color-4      : #3FA29E; //teal
$color-5      : #7f3a2c; //tomato redd
$color-6      : purple; //TEST
//--> Font families
$display-title: 'Saira Extra Condensed', sans-serif; $sub-title: 'Saira Extra
Condensed', sans-serif; $body-text: 'Cormorant', serif;
