section#benefits {
    .row {margin-bottom: 50px;
    .care-icon {
        float: left;
        padding-right: 10px;
    }
    h5 {text-align: left;}
    }
}

@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
