section#hero {
    position: relative;
    .container-fluid.banner-box {
        position: absolute;
        padding: 0;
        svg {
            width: 125%;
            height: auto;
            position:absolute;
            top:30px; right:0;
        }
    }
    .container-fluid.title-box {
        position: relative;
        margin-top: 80%;
        .pane {
            img.hero_title {
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
            h2, h3, p {text-align: center;}
            h2 {font-size: 1.5em;}
            h3 {font-size: 1.25em;}
            p {font-size: .9em}
            h2, h3 {margin-top: 40px;}
        }
    }
}
// - sm
@media only screen and (min-width: 576px) {}
// - md
@media only screen and (min-width: 768px) {
    section#hero {
        .container-fluid.banner-box {
            svg {
                width: 100%;
                top:0;
            }
        }
        .container-fluid.title-box {
            margin-top: 0;
            .pane {
                h2 {
                    margin-top: 250px;
                    font-size: 1.75em;
                }
                h3 {
                    margin-top: 135px;
                    font-size: 1.5em;
                }
                p {margin-right: 10px;}
                h3, p {text-align:left;}
            }
        }
    }
}
// - lg
@media only screen and (min-width: 992px) {
    section#hero {
        .container-fluid.banner-box {
            svg {
                width: 100%;
                top:0;
            }
        }
        .container-fluid.title-box {
            .row {
                // height: 100vh;
                .pane {
                    margin-left: 30px;
                    img.hero_title {max-width: 250%;}
                    h2 {margin-top: 350px;}
                    h3 {font-size: 1.75em;}
                    p {
                        margin-right: 30px;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }
}
// - xl
@media only screen and (min-width: 1200px) {
    section#hero {
        .container-fluid.title-box {
            .row {
                .pane {
                    img.hero_title {
                        width: 60%;
                        margin: 10px auto 40px;
                    }
                    h2 {
                        font-size: 2.5em;
                        margin-top: 45%;
                        // text-align: left;
                    }
                    h3 {
                        font-size: 2em;
                        margin-top: 200px;
                    }
                    p {font-size: 1.2em;}
                }
            }
        }
    }
}
@media only screen and (min-width: 2200px) {
    section#hero {
        .container-fluid.title-box {
            .row {
                .pane {
                    img.hero_title {
                        width: 60%;
                        margin: 10px 10px 40px;
                        float: right;
                    }
                    h2 {
                        font-size: 3em;
                        margin-top: 50%;
                        text-align: right;
                    }
                    h3 {
                        font-size: 2.5em;
                        margin-top: 200px;
                    }
                    p {font-size: 1.4em;}
                }
            }
        }
    }
}
