section#resources {
    * {transition-duration: 500ms;}
    .section-title {margin-bottom: 10px;}
    svg {
        &:hover {
            .ellipse_l, .topic_text { transform: scale(1.05);}
            .ellipse_s, .ellipse_m { transform: scale(1.1); }
            .topic_text { transform: translate(-2.3041 -66.359);}
        }
    }
    svg#resources_topic_left { transform-origin: top left;}
    svg#resources_topic_right { transform-origin: top right;}
    svg#resources_topic_top { transform-origin: top;}
}

@media only screen and (min-width: 576px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {
    section#resources {
        svg#resources_topic_left {}
        svg#resources_topic_right {}
        svg#resources_topic_top {}
    }
}
@media only screen and (min-width: 1200px) {}
