<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {{ content }}

        <!-- {% include page_bkgd.html %} -->

<!-- JS -->
        <!-- <script src="https://cdnapisec.kaltura.com/p/2532701/sp/253270100/embedIframeJs/uiconf_id/44898331/partner_id/2532701"></script> -->

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- <script type="text/javascript" src="./assets/js/jquery.mousewheel.min.js"></script> -->

        <script src="./assets/js/main.js"></script>
    </body>
</html>
