<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>

        {{ content }}

        <!-- {% include page_bkgd.html %} -->

<!-- modal content -->
        <div id="sg-mask-modal" class="modal fade" tabindex="-1" role="dialog" data-modcurr="sg-mask-modal">
            <div class="modal-dialog modal-dialog-center modal-lg" role="document">

                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close info-modal-close" data-dismiss="modal" aria-label="Close">
                            <span class="modal-close-x" aria-hidden="true">&times;</span>
                        </button>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    {% include svg/modal_sg_ill.svg %}
                                </div>
                                <div class="col-12">
                                    <h2 class="text-clr-2">FACE MASK FACTS</h2>
                                    <p class="">Why settle for a mask that is anything less than medical grade? If it can protect a Doctor it can protect you!</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_bact_filt.svg" alt="bacteria icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Bacteria Filtration Eficiency (BFE)</p>
                                    <p>≥ 98%</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_flamm.svg" alt="flames icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Flammability</p>
                                    <p>Class 1 in accordance with CFR part 1610</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_part_filt.svg" alt="funnel filter icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Particle Filtration Efficiency (PFE)</p>
                                    <p>≥ 98% at 0.1 micron</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_blood_pen.svg" alt="blood droplets icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Blood Penetration Resistance</p>
                                    <p>Passed in accordance with ASTM F1862 and ISO 22609</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END MODAL -->
        <div id="kn95-mask-modal" class="modal fade" tabindex="-1" role="dialog" data-modcurr="kn95-mask-modal">
            <div class="modal-dialog modal-dialog-center modal-lg" role="document">

                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close info-modal-close" data-dismiss="modal" aria-label="Close">
                            <span class="modal-close-x" aria-hidden="true">&times;</span>
                        </button>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    {% include svg/modal_kn95_ill.svg %}
                                </div>
                                <div class="col-12">
                                    <h2 class="text-clr-2">FACE MASK FACTS</h2>
                                    <p class="">Why settle for a mask that is anything less than medical grade? If it can protect a Doctor it can protect you!</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_bact_filt.svg" alt="bacteria icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Bacteria Filtration Eficiency (BFE)</p>
                                    <p>≥ 95%</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_blood_pen.svg" alt="blood droplets icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Blood Penetration Resistance</p>
                                    <p>Passed in accordance with ASTM F1862 and ISO 22609</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_flamm.svg" alt="flames icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Flammability</p>
                                    <p>Class 1 in accordance with CFR part 1610</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="./assets/images/modal_part_filt.svg" alt="funnel filter icon" class="img-fluid">
                                    <p class="text-clr-1 text-wt-700">Particle Filtration Efficiency (PFE)</p>
                                    <p>≥ 95% at 0.1 micron</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END MODAL -->

<!-- JS -->
        <!-- <script src="https://cdnapisec.kaltura.com/p/2532701/sp/253270100/embedIframeJs/uiconf_id/44898331/partner_id/2532701"></script> -->

        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- <script type="text/javascript" src="./assets/js/jquery.mousewheel.min.js"></script> -->

        <script src="./assets/js/main.js"></script>
    </body>
</html>
